<style type="text/css">

    .forgot-big-title-area {
        background: url("/res/site/images/crossword.png") repeat scroll 0 0 #e67e22;
        width: 100%;
    }
    .forgot-bit-title h2 {
      font-family: raleway;
      font-size: 50px;
      font-weight: 200;
      margin: 0;
      padding: 50px 0;
      color: #fff
    }
    .forgot-product-area .zigzag-bottom {background-color: #f4f4fs4}

    .forgot-product-area {
      padding: 80px 0 130px;
    }
</style>

<div class="forgot-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="forgot-bit-title text-center">
                    <h2>Esqueceu a Senha?</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="forgot-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">E-mail enviado!</h4>
                    <p>Verifique seu e-mail e siga as instruções para recuperar a sua senha.</p>
                </div>                  
            </div>
        </div>
    </div>
</div>