<div class="col-md-4">
    <div class="profile-work">
        <p>EM BREVE NOVAS OPÇÕES</p>
        <!-- <a href="" class="list-group-item list-group-item-action disabled"></a><br/> -->
        <p>Dados Pessoais</p>
        <a href="/profile" class="list-group-item list-group-item-action">Editar Dados</a><br/>
        <a href="/profile/change-password" class="list-group-item list-group-item-action">Alterar Senha</a><br/>
        <a href="/profile/notice" class="list-group-item list-group-item-action">Avisos</a><br/>
        <a href="/logout" class="list-group-item list-group-item-action">Sair</a><br/>
    </div>
</div>