<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Minha Conta</h2>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="profile-background">
<div class="container emp-profile">
        <div class="row">
            {include="profile-menu"}
            <div class="col-md-8">
                {loop="$notices"}
                  {if="$value.active == 'sim' "}
                    <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">{function="textStyle($value.notice)"}!</h4>
                      <p>{function="textStyle($value.description)"}</p>
                    </div>
                  {/if} 
                {/loop}                     

                </div>
            </div>
        </div>        
</div>
</div>